<!--============================= NAV =============================-->
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">The Mechanical Nick</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" collapse="navCollapsed">
		<ul class="nav navbar-nav navbar-right">
			
			<li class="dropdown" dropdown="">
				<a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span> {{user.name}}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu" style="padding-left: 15px;">
					<li style="padding-top: 10px; padding-bottom: 10px;">
						<b>{{user.email}}</b>
					</li>
					<li>
						<button class="btn btn-danger" ng-click="logout()">Logout</button>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>

<!--============================= SIDEBAR =============================-->
<div class="row" >
	<div class="col-sm-3" style="background: #F8F8F8; border: 1px solid #CFCFCF">
		<ul style="list-style-type: none">
			<div ng-repeat="problem in problems">
				<li>
					<b>{{problem.name}}</b>
					<p><i>Level: {{problem.level}}</i></p>
				</li>
			</div>
		</ul>
	</div>
	
	<div class="col-sm-9">
		<html>
			<head>
				<style type="text/css">
				code { background-color: gray; color: #A7FF5F; }
				</style>
			</head>
			<body>
				<p>Some code:</p>
				<code>My code...</code>
				<code>My code...</code>
				<code>My code...</code>
			</body>
		</html>
	</div>
	
</div>